<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ryo Wheatley - A Full Stack Engineer</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/sprites.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div id="wrapper">
      <div class="clear-box"></div>
      <div class="content-box">
        <div class="headers">
          Biography
        </div>
        <div class="container content-box-container" id="bio">
          <div class="row">
            <div class="col-md-6">
              <h1>Who is Ryo?</h1>
              <div class="media">
                <div class="media-left">
                  <img class="media-object img-circle img-blurb" src="/imgs/ryo.jpg" />
                </div>
                <div class="media-body media-middle">
                  I'm a Full Stack Engineer, with a particular passion for Front End Development. I'm friendly, energetic, motivated, and above all, dedicated to my work. I love working on all kinds of projects, from personal sites to big data corporate software, and I'd love to show you that passion.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h1>Where did she come from?</h1>
              <div class="media">
                <div class="media-left">
                  <img class="media-object img-circle img-blurb" src="/imgs/richmond-va.jpg" />
                </div>
                <div class="media-body media-middle">
                  I grew up in Richmond, VA, loving reading, writing, and science. When I was 14, I discovered the incredible world of web development, and I've been hooked from there. What started out as a fling with HTML and CSS turned into a long-term Software Engineering romance. I've been building a flood of projects, both personal and contract, ever since.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h1>What does she do?</h1>
              <div class="media">
                <div class="media-left">
                  <img class="media-object img-circle img-blurb" src="/imgs/code.png" />
                </div>
                <div class="media-body media-middle">
                  I build things, of course! I love throwing my all into a variety of projects. Recently I've worked on everything from E-learning software to desktop remote collaberation apps to web-based simulation games. You name it, I'm down to build it!
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h1>How does she do it?</h1>
              <div class="media">
                <div class="media-left">
                  <img class="media-object img-circle img-blurb" src="/imgs/ryo.jpg" />
                </div>
                <div class="media-body media-middle">
                  I'm a big fan of diving into your work whole-heartedly, which is why I've always prefered onsite work to remote. I love emmersing myself into whatever I'm working on, to the point where it's kind of difficult to un-emmerse myself when the day is done. I revel in exhaustion, sore fingers, and eye strain when I finish a project, knowing it's a small price to pay for what I've created with my team.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <center><h1>Sound like someone you'd want to work with?</h1></center>
            </div>
          </div>
        </div>
      </div>
      <div class="img-box" id="glass"></div>
      <div class="content-box">
        <div class="headers">
          Skills
        </div>
        <div id="skillsCanvasContainer">
          <canvas id="skillsCanvas" width="900px" height="900px">
            <p><b>Skills:</b> Javascript, React, Redux, Angular, CSS3, HTML5, jQuery, Git, Heroku, Mocha, Chai, Node, Express, Postgres, Sequelize, D3, C++, OAuth, MySQL, Mongo, Mongoose, Sockets, AWS, Grunt, Webpack, Gulp, Jasmine, Karma</p>
          </canvas>
        </div>
        <div id="skillsTags">
          <ul>
            <!-- <li><a><img src="/imgs/sprites/small-sprites.png" width="62px" height="64px" data-x="295" data-y="164" alt="jQuery" /></a></li>
            <li><a><img src="/imgs/sprites/small-sprites.png" width="56px" height="55px" data-x="224" data-y="98" alt="Git" /></a></li>
            <li><a><img src="/imgs/sprites/small-sprites.png" width="61px" height="60px" data-x="294" data-y="96" alt="GitHub" /></a></li>
            <li><a><img src="/imgs/sprites/small-sprites.png" width="37px" height="57px" data-x="6" data-y="160" alt="Heroku" /></a></li>
            <li><a><img src="/imgs/sprites/small-sprites.png" width="63px" height="66px" data-x="300" data-y="173" alt="Mocha" /></a></li>
            <li><a><img src="/imgs/sprites/small-sprites.png" width="60px" height="68px" data-x="360" data-y="173" alt="Chai" /></a></li> -->
            <li><a><img src="/imgs/null.png" class="node-small" alt="Node" /></a></li>
            <li><a><img src="/imgs/null.png" class="express-small" alt="Express" /></a></li>
            <li><a><img src="/imgs/null.png" class="postgres-small" alt="Postgres" /></a></li>
            <li><a><img src="/imgs/null.png" class="sequelize-small" alt="Sequelize" /></a></li>
            <li><a><img src="/imgs/null.png" class="javascript-small" alt="JavaScript" /></a></li>
            <li><a><img src="/imgs/null.png" class="react-small" alt="React" /></a></li>
            <li><a><img src="/imgs/null.png" class="redux-small" alt="Redux" /></a></li>
            <li><a><img src="/imgs/null.png" class="angular-small" alt="Angular" /></a></li>
            <li><a><img src="/imgs/null.png" class="css3-small" alt="CSS3" /></a></li>
            <li><a><img src="/imgs/null.png" class="html5-small" alt="HTML5" /></a></li>
            <li><a><img src="/imgs/null.png" class="d3-small" alt="D3" /></a></li>
            <li><a><img src="/imgs/null.png" class="cplusplus-small" alt="C++" /></a></li>
            <li><a><img src="/imgs/null.png" class="oauth-small" alt="OAuth" /></a></li>
            <li><a><img src="/imgs/null.png" class="auth0-small" alt="Auth0" /></a></li>
            <li><a><img src="/imgs/null.png" class="mysql-small" alt="MySQL" /></a></li>
            <li><a><img src="/imgs/null.png" class="mongo-small" alt="Mongo" /></a></li>
            <li><a><img src="/imgs/null.png" class="mongoose-small" alt="Mongoose" /></a></li>
            <li><a><img src="/imgs/null.png" class="socket-small" alt="Sockets" /></a></li>
            <li><a><img src="/imgs/null.png" class="aws-small" alt="AWS" /></a></li>
            <li><a><img src="/imgs/null.png" class="grunt-small" alt="Grunt" /></a></li>
            <li><a><img src="/imgs/null.png" class="npm-small" alt="npm" /></a></li>
            <li><a><img src="/imgs/null.png" class="bower-small" alt="Bower" /></a></li>
            <li><a><img src="/imgs/null.png" class="webpack-small" alt="Webpack" /></a></li>
            <li><a><img src="/imgs/null.png" class="gulp-small" alt="Gulp" /></a></li>
            <li><a><img src="/imgs/null.png" class="jasmine-small" alt="Jasmine" /></a></li>
            <li><a><img src="/imgs/null.png" class="karma-small" alt="Karma" /></a></li>
            <li><a><img src="/imgs/null.png" class="bootstrap-small" alt="Bootstrap" /></a></li>
            <li><a><img src="/imgs/null.png" class="backbone-small" alt="Backbone" /></a></li>
          </ul>
        </div>
      </div>
      <div class="img-box" id="business"></div>
      <div class="content-box">
        <div class="headers">
          Projects
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel pellentesque sem. Aenean quis sapien malesuada, bibendum purus vulputate, suscipit risus. Phasellus tincidunt, urna sed efficitur ultrices, elit risus semper velit, non tempus nisl massa at arcu. Integer tempus lacus convallis risus facilisis bibendum. Fusce vitae suscipit sem, ac convallis arcu. Duis sodales sit amet enim vel dictum. Cras eu neque ut massa ultricies malesuada vitae sit amet nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <p>Aenean bibendum ornare commodo. Morbi maximus euismod odio, quis viverra libero aliquam a. Quisque sit amet mauris ante. Curabitur nec nibh sed magna viverra pharetra. Nunc arcu odio, consequat ac purus nec, rhoncus semper lacus. Etiam ultrices ante luctus, suscipit urna nec, congue orci. Curabitur justo turpis, auctor vitae nisi id, interdum sollicitudin lacus. Quisque urna justo, rutrum id tortor sit amet, laoreet consequat lacus. Vivamus semper magna id turpis semper, non iaculis nisl vehicula. Suspendisse eget mollis orci, eget ultrices felis. Vestibulum quis diam a erat finibus commodo. Maecenas a velit non erat condimentum aliquet. Maecenas commodo nisi vel nulla ullamcorper lobortis. Ut rutrum lobortis sapien.</p>
      </div>



      <div class="clear-box"></div>



    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/src/tagcanvas.js"></script>
    <script src="/src/canvas.js"></script>
  </body>
</html>
