html {
  height: 100%;
  background: url('/imgs/bg-light.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

body {
  height: 100%;
  background-color: inherit;
}

.center-parent {
  position: relative;
}

.full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  max-width: 100%;
}

.clear-box {
  height: 100vh;
}

.content-box {
  padding: 7%;
  background-color: #fff;
  color: #3a3d30;
}

.img-box {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.img-blurb {
  max-width: 128px;
}

.headers {
  font-family: ModernSerifEroded;
  font-size: 50px;
}

.content-box-container {
  width: 100%;
  font-family: verdana;
  font-size: 12px;
  text-align: justify;
}

.content-box-container h1 {
  font-family: MarckScript;
  font-size: 40px;
}

#skillsCanvas {
  width: 50%;
}

#glass {
  background-image: url('/imgs/bg-glass.jpg');
  height: 70vh;
}

#business {
  background-image: url('/imgs/bg-bus.jpg');
  height: 50vh;
}
